* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --body-color: #f3f3f3;
}
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}
img {
  width: 100%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.section {
  text-align: center;
}
.section-title {
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 32px;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1026px;
}

.hero-section {
  position: relative;
  padding-bottom: 116px;
  background-color: transparent;
  --spike-color: var(--body-color);
  --spike-height: 10px;
}
.hero-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--spike-height);
  background: var(--spike-color);
  bottom: 0;
  left: 0;
  transform: rotate(-0.5turn);
  -webkit-mask-image: url("../images/patterns/triangle.svg");
  -webkit-mask-size: 180px var(--spike-height);
}
.hero-section .container::before {
  content: "";
  position: absolute;
  top: -700px;
  right: 0;
  width: 800px;
  height: 800px;
  background: rgba(122, 248, 203, 0.3);
  border-radius: 100%;
  filter: blur(210px);
  z-index: -1;
}
/* Hero section  header*/
.hero-section__top {
  padding: 37px 0 86px 0;
}
.hero-section__top-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 64px;
}
.hero-section__logo-box {
  -webkit-user-drag: none;
}
.hero-section__logo {
  max-width: 177px;
}
.hero-section__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.hero-section__list {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: end;
}
.hero-section__link {
  font-size: 18px;
  line-height: 2.2;
  color: #000;
}
.hero-section__top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.hero-section__top-btn div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/* Hero section content */
.hero-section__content {
  text-align: center;
}
.hero-section__title {
  font-weight: 900;
  font-size: 52px;
  margin-bottom: 24px;
  line-height: normal;
}
.hero-section__text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 34px;
  line-height: 1.7;
}
.hero-section__btn {
  font-family: "Roboto", sans-serif;
  background: #c2fbd7;
  color: #008000;
  padding: 15px 30px;
  border-radius: 5rem;
  box-shadow: 0px 16px 32px 0px rgba(44, 187, 99, 0.15), 0px 8px 16px 0px rgba(44, 187, 99, 0.15),
    0px 4px 8px 0px rgba(44, 187, 99, 0.15), 0px 2px 4px 0px rgba(44, 187, 99, 0.15),
    0px 1px 2px 0px rgba(44, 187, 99, 0.15), 0px -25px 18px -14px rgba(44, 187, 99, 0.2) inset;
}
.hero-section__btn:hover {
  box-shadow: 0px 16px 32px 0px rgba(44, 187, 99, 0.25), 0px 8px 16px 0px rgba(44, 187, 99, 0.25),
    0px 4px 8px 0px rgba(44, 187, 99, 0.25), 0px 2px 4px 0px rgba(44, 187, 99, 0.25),
    0px 1px 2px 0px rgba(44, 187, 99, 0.25), 0px -25px 18px -14px rgba(44, 187, 99, 0.35) inset;
}
.hero-section__btn svg {
  display: inline-block;
  vertical-align: -35%;
  fill: #008000;
  margin-left: 10px;
}

/* Advantages section */
.advantages-section {
  padding: 72px 0;
  background: #f3f3f3;
  position: relative;
}
.advantages-section__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.advantages-section__card {
  position: relative;
  padding: 32px 20px;
  width: 280px;
  height: 360px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(29, 30, 38, 0.1), 0px 3px 6px 0px rgba(29, 30, 38, 0.1);
  z-index: 1;
}
.advantages-section__card-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
.advantages-section__card-text {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75;
}
.advantages-section__img {
  max-width: 128px;
  margin-bottom: 32px;
}
.advantages-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: -281px;
  width: 510px;
  height: 539px;
  background: #fff2d0;
  border-radius: 100%;
  filter: blur(160px);
  z-index: 0;
}
.advantages-section .container::after {
  content: "";
  position: absolute;
  bottom: -612px;
  left: 0;
  width: 600px;
  height: 600px;
  background: rgba(122, 248, 203, 0.3);
  border-radius: 100%;
  filter: blur(210px);
  z-index: 0;
}

/* Review section */
.review-section {
  position: relative;
  padding: 72px 0;
  --spike-color: var(--body-color);
  --spike-height: 10px;
  background: #fff;
}
.review-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--spike-height);
  background: #f3f3f3;
  top: 0;
  left: 0;
  -webkit-mask-image: url("../images/patterns/triangle.svg");
  -webkit-mask-size: 180px var(--spike-height);
}
.review-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--spike-height);
  background: var(--spike-color);
  bottom: 0;
  left: 0;
  transform: rotate(-0.5turn);
  -webkit-mask-image: url("../images/patterns/triangle.svg");
  -webkit-mask-size: 180px var(--spike-height);
}

.review-section__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background: var(--body-color);
  border-radius: 10px;
  text-align: left;
}
.review-section__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.review-section__text {
  max-width: 55%;
  font-size: 14px;
}
.review-section__icon {
  width: 51px;
  border-radius: 50%;
}

/* Footer */
.footer {
  background: #f3f3f3;
  padding: 40px 0;
}
.footer__nav {
  display: flex;
}
.footer__logo-box {
  flex-grow: 1;
}
.footer__logo {
  max-width: 177px;
}
.footer__nav-box {
}
.footer__list {
  display: flex;
  gap: 64px;
  margin-bottom: 18px;
}
.footer__link {
  color: #000;
  font-size: 18px;
  line-height: 2.2;
  font-weight: 400;
}
.footer__link--small {
  font-size: 14px;
}
.footer__terms {
  display: flex;
  gap: 24px;
}
