.flex {
  display: flex;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-align-center {
  align-items: center;
}

.text-align-left {
  text-align: left;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-18 {
  margin-bottom: 18px;
}

.hidden {
  display: none;
}

.z-index-1 {
  z-index: 1;
}