.input {
  padding: 22px 20px;
  border-radius: 7px;
  border: 1px solid #dadada;
  outline: none;
  background: #f8f8f8;

  &:focus {
    border: 2px solid #24cb61;
  }
  @media (max-width: 485px) {
    .input {
      padding: 18px 16px;
      font-size: 16px;
    }
  }
  &--xl {
    width: 100%;
    max-width: 508px;
    height: 65px;
  }
  &--sm {
    width: 100%;
    max-width: 400px;
    height: 65px;
  }
  @media (max-width: 485px) {
    &--sm {
      height: 50px;
    }
  }
  &::placeholder {
    font-family: "Montserrat", sans-serif;
    color: #9b9b9b;
    font-size: 16px;
    line-height: normal;
  }
}
